.cont-buscador {
    background: linear-gradient(0deg, #EDF2F5, #EDF2F5);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2rem 0;
    padding: 1rem;

}
.buscador {
    height: 40px;
    width: 50%;
    margin-left: 22px;
    padding-left: 56px;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 16px;
}

#ordenar-por {
    border: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: rgba(255, 255, 255, 0);
    padding-right: 46px;
    font-family: 'Jura', sans-serif;
    font-size: 1rem;
}
.input-icono {
    width: 100%;
}