.cont-input-accion-registro {
    display: flex;
    margin-top: 26px;
    flex-direction: column;
    align-items: center;
}
.cont-general-iniciar .registro {
    font-family: Jura;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: #000000;
}
/* .cont-general-iniciar  .registro {
    background-image: url('/public/img/inicio-sesion/fondo-registro.png');
} */