.item-conten {
    display: flex;
    width: 100%;
    justify-content: space-between;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    align-items: center;
    min-height: 73px;
    padding-top: 10px;
    margin-bottom: 19px;
    transition: 0.2s ease;
    -moz-transition: 0.2s ease; /* Firefox */
    -webkit-transition: 0.2s ease; /* Chrome - Safari */
    -o-transition: 0.2s ease; /* Opera */
}
.item-conten:hover {
    border: 1px solid #30627D;
    box-shadow: 0px 0px 15px rgba(48, 98, 125, 0.53);
}
.item-nombre-local {
    margin-left: 38px;
}
.btn-acctiones-items {
    display: flex;
    margin-right: 36px;
}

.cont-nombre-columnas {
    display: flex;
    padding-left: 38px;
    padding-right: 36px;
    justify-content: space-between;
}

.icon-acciones {
    margin-left: 23px;
    max-width: 1.1rem;
}
.icon-acciones:hover {
    filter: drop-shadow(0px 0px 1px #30627dc7);
    cursor: pointer;
}