.cont-nombre-columnas {
    display: flex;
    padding-left: 38px;
    padding-right: 36px;
    justify-content: space-between;
}

.icon-acciones {
    margin-left: 23px;
    max-width: 1.1rem;
}
.icon-acciones:hover {
    filter: drop-shadow(0px 0px 1px #30627dc7);
    cursor: pointer;
}