.fila.detalle-items-pedido {
    width: 100%;
    position: relative;
}
.contenedor-detalle-item, .p-item, .span-descripcion, .span-precio {position: relative;}
.contenedor-detalle-item {
  background: #ffff; /* mismo color que fonde de popup */
  width: 100%;
}

.p-item {
  background: inherit;
  width: 100%;
  max-width: 50rem;
  min-width: 300px;
  margin: 0 auto;
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: rgba(0,0,0,.55);
  /* padding-right: 4rem; */
  margin-bottom: .5rem;
}
.p-item:before {
  content:'';
  position: absolute;
  bottom: .4rem;
  width: 100%;
  height: 0;
  line-height: 0;
  border-bottom: 1px dashed #000;
}
.span-descripcion {
  background: inherit;
  display: inlne;
  padding-right: .2rem;
}
.span-precio {
  background: inherit;
  position: absolute;
  min-width: 3rem;
  bottom: 0;
  right: 0;
  text-align: right;
  z-index: 2;
}

/* CARD DETALLE RESUMEN DEL PEDIDO */
.card-resumen-item-pedido {
    background: rgba(196, 196, 196, 0.23);
    border-radius: 10px;
    width: 207px;
    height: 87px;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.icon-modal-pedido {justify-content: flex-end;}
.icon-modal-pedido img{
    width: 20px;
}
.icon-modal-pedido img:last-child { margin-left: 17px;}