.btn-cerrar-modal:hover {
    transform: scale(1.1);
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.4));
}
.modal-content .btn-secundario, .modal-content .btn-primario {
    margin: 0 10px !important;
} 
.btn-acciones-modal {
    width: 100%;
    display: flex;
    justify-content: center;
}
.modal {
    position: fixed;
    z-index: 1000;
    padding-bottom: 50px;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(196, 196, 196, 0.52);
}

.modal-content {
    margin: 40px auto;
    position: relative;
    border-radius: 20px;
    background-color: #fefefe;
    padding: 75px 110px;
    box-shadow: rgb(0 0 0 / 25%) 0px 0px 4px;
    width: 46%;
  }

  .btn-cerrar-modal {
    position : absolute;
    transition: 0.2s ease;
    -moz-transition: 0.2s ease; 
    -webkit-transition: 0.2s ease; 
    -o-transition: 0.2s ease; 
    top : 22px;
    right : 22px;
    max-width:14px;
    cursor: pointer;
}