.header-seccion {
    padding: 15px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgb(100 100 100 / 13%);
}
.content-header {
    align-items: center;
    display: flex;
}
.content-header h1{
    display: flex;
    justify-content: flex-start;
    width: 50%;
}
.content-header div{
    display: flex;
    justify-content: flex-end;
    width: 50%;
}