.header-seccion {
    z-index: 0;
    position: absolute;
    width: 100%;
    height: 109px;
    padding-bottom: 27px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(100, 100, 100, 0.13);
}
.content-header {
    display: flex;
    justify-content: space-between;
    padding-left: 366px;
    margin-left: 38px;
    margin-right: 41px;
    height: 100%;
    align-items: flex-end;
}