
.content_sidebarnav {
    max-width: 250px;
    display: flex;
    height: 100%;
    background: #FFFFFF;
    box-shadow: 3px 0px 3px rgba(196, 196, 196, 0.17);
    border-radius: 0px 50px 50px 0px;
    transition: 0.2s ease;
    -moz-transition: 0.2s ease; /* Firefox */
    -webkit-transition: 0.2s ease; /* Chrome - Safari */
    -o-transition: 0.2s ease; /* Opera */
}
.content_sidebarnav:hover {
    box-shadow: 0px 0px 10px #C4C4C4;
}
.content_sidebarnav nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.content_sidebarnav ul {
    padding: 0 10px;
    display: flex;
    align-content: center;
    justify-content: flex-start;
    flex-direction: column;
}

.content_sidebarnav .logo-sidebar{
    width: auto;
    height: 60px;
    padding: 2rem;
}

.nav_items a {
    text-decoration: none;
    font-weight: 700;
}
.nav_items .cont-icon-menu {
    width: auto;
    background: #FFFFFF;
    box-shadow: 0px 0px 2px rgb(0 0 0 / 25%);
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: center;
}
.nav_items img{
    width: auto;
    height: 21px;
}
.nav_items a li span{
    font-size: 0.9rem;
    padding: 0 15px;
}
.nav_items li {
    padding: 10px 15px;
    display: flex;
    align-items: center;
    margin: 5px 0;
}
.item-active li{
    background: linear-gradient(90deg, #FFE7E0 2.58%, rgba(255, 240, 235, 0) 100%);
    border-radius: 20px 0px 0px 20px;;
    color: #EB6F65;
}
.item-active div {
    box-shadow: 0px 0px 15px rgba(235, 111, 101, 0.79) !important;
}

/* efecto zoom */
.nav_items li{
    transition: 0.2s ease;
     -moz-transition: 0.2s ease; /* Firefox */
     -webkit-transition: 0.2s ease; /* Chrome - Safari */
     -o-transition: 0.2s ease; /* Opera */
}
.nav_items li:hover{
    transform : scale(1.05);
    -moz-transform : scale(1.05); /* Firefox */
    -webkit-transform : scale(1.05); /* Chrome - Safari */
    -o-transform : scale(1.05); /* Opera */
    -ms-transform : scale(1.05); /* IE9 */
    /* background: linear-gradient(90deg, #FFE7E0 2.58%, rgba(255, 240, 235, 0) 100%); */
    background: linear-gradient(to right, rgba(255, 231, 224, 0.54) 2.58%, rgba(255, 240, 235, 0) 85.71%);
    background: linear-gradient(to right, rgba(255, 231, 224, 0.54) 2.58%, rgba(255, 240, 235, 0));
    border-radius: 20px 0px 0px 20px;
}