body {
    height: 100vh;
    margin: 0;
    padding: 0;
    background: rgba(242, 242, 242, 0.47);
}
* {margin: 0;}
ul {
    padding: 0;
    margin: 0;
}
#root {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.containerBoby {
    display: flex;
    height: 100%;
    overflow-y: auto;
}
.dynamicContent {
    width: 100%;
    margin-top: 136px;
    margin-left: 7px;
    padding-right: 40px;
    overflow-y: scroll;
    padding-left: 14px;
}

h1 {
    font-weight: bold;
    font-size: 1.7rem;
    color: black;
    margin-bottom: 10px;
}



/* MARGENES */
    .ml-0 {margin-left: 0px !important;} .mr-0 {margin-right: 0px !important;}
    .ml-1 {margin-left: 1rem !important;} .mr-1 {margin-right: 1rem !important;}
    .ml-2 {margin-left: 2px !important;} .mr-2 {margin-right: 2px !important;}
    .ml-10 {margin-left: 10px !important;} .mr-10 {margin-right: 10px !important;}
    .mb-6 {margin-bottom: 6px;}; .mt-6 {margin-top: 6px;};
    .mb-12 {margin-bottom: 12px;} .mt-12 {margin-top: 12px;}
    .mb-23 {margin-bottom: 23px;} .mt-23 {margin-top: 23px;}
    .mb-26 {margin-bottom: 26px;} .mt-26 {margin-top: 26px;}

/* COLUMNAS */
    .col-1 {width: 10%;}
    .col-2 {width: 16%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.3%;}
    .col-5 {width: 41.6%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.3%;}
    .col-8 {width: 66.6%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.3%;}
    .col-11 {width: 91.6%;}
    .col-12 {width: 100%;}

/* COLUMNAS PERSONALIZADAS */
    .col-52_61 { width: 52.61%;} 

/* ALIGN - JUSTIFY */
    .ai-c { display: flex; align-items:center} .ai-fe { display: flex; align-items: flex-end;} .ai-fs { display: flex; align-items: flex-start;}
    .jc-c { display: flex; justify-content: center;} .jc-sa { display: flex; justify-content:space-around;} .jc-sb { display: flex; justify-content: space-between;} .jc-e { display: flex; justify-content: space-evenly;} .jc-fe { display: flex; justify-content: flex-end;} .jc-fs { display: flex; justify-content: flex-start;}


/* HOVER (ZOOM) */
    .btn-opciones, .btn-items-seleccionados { transition: 0.2s ease; }
    .btn-opciones:hover, .btn-items-seleccionados:hover { transform: scale(1.02); -moz-transform: scale(1.02); -webkit-transform: scale(1.02); -o-transform: scale(1.02); -ms-transform: scale(1.02); }

/* FONTS */
    * {font-family: 'Jura', sans-serif !important; font-size: 1rem; letter-spacing: 0.03em; color: #646464;}
    .btn-opciones, .btn-items-seleccionados {font-weight: bold;}

/* INPUTS */
    .cinput { border: 1px solid #C4C4C4; box-sizing: border-box; border-radius: 16px; height: 45px; padding-left: 22px; width: 100%; margin: 0; }
    .cinput:hover, .cinput:focus { border: 1px solid #000000; outline: none !important;}
    .cinput.error { border: 1px solid #EB6F65;}
    .cinput.icon-buscar { background-image: url("./asset/icon-buscar.svg"); background-repeat: no-repeat; background-position-x: 22px; background-position-y: 50%; padding-left: 56px !important; }
/* FIN INPUTS */

/* BOTONES */
    .btn-disabled { box-shadow: none !important; cursor: default !important; }

    .btn-principales { min-width: 210px; border-radius: 16px; border: none; min-height: 45px; cursor: pointer;}

    .btn-primario { background: #EB6F65; color: white; }
    .btn-primario:hover { box-shadow: 0px 0px 10px rgba(235, 111, 101, 0.63); }
    .btn-primario.btn-disabled { background: rgba(235, 111, 101, 0.24) !important; color: #EB6F65 !important;}
    
    .btn-secundario { background: white; color: #EB6F65; border: 1px solid #EB6F65;}
    .btn-secundario:hover { box-shadow: 0px 0px 10px rgba(235, 111, 101, 0.63); }
    .btn-secundario.btn-disabled { color: rgba(235, 111, 101, 0.78); border: 1px solid rgba(235, 111, 101, 0.3); }

    .btn-opciones { height: 36px; border: 1px solid #EB6F65; color: #EB6F65; padding: 7px 21px 10px 14px; background: #FFFFFF; box-sizing: border-box; border-radius: 10px; }
    .btn-opciones.seleccionado {background: #EB6F65; color: #FFFFFF;}

    .btn-items-seleccionados { height: 36px; padding: 7px 21px 10px 14px; color: #EB6F65; background: rgba(196, 196, 196, 0.4); border: none; border-radius: 10px; }
    .btn-items-seleccionados img {margin-right: 7px; cursor: pointer;}
/* FIN BOTONES */

/* LISTAS */
.item-lista { min-height: 46px; background: #FFFFFF; box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25); border-radius: 20px; padding: 27px 23px 20px 28px; margin-bottom: 22px; display: flex;}
.item-lista:hover {border: 1px solid #30627D; box-shadow: 0px 0px 15px rgba(48, 98, 125, 0.53); transition: 0.2s ease; -moz-transition: 0.2s ease; -webkit-transition: 0.2s ease; -o-transition: 0.2s ease; /* Opera */}
/* FIN LISTAS */