body {
    height: 100vh;
    margin: 0;
    padding: 0;
    background: rgba(242, 242, 242, 0.47);
    font-family: 'Jura', sans-serif;
}
ul {
    padding: 0;
    margin: 0;
}
#root {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.containerBoby {
    display: flex;
    height: 100%;
    overflow-y: auto;
}
.dynamicContent {
    width: 100%;
    margin-top: 136px;
    margin-left: 7px;
    padding-right: 40px;
    overflow-y: scroll;
    padding-left: 14px;
}
a, p, h1, h2, h3, h4, h5, h6 {
    color: #646464;
    font-size: 1rem;
}
h1 {
    font-weight: bold;
    font-size: 1.7rem;
    color: black;
    margin-bottom: 10px;
}
.btn-primario {
    font-size: 1rem;
    padding: 13px 49px;
    background: #EB6F65;
    border-radius: 16px;
    border: none;
    min-height: 45px;
    color: white;
    margin-left: .6rem;
    transition: 0.2s ease;
    -moz-transition: 0.2s ease; /* Firefox */
    -webkit-transition: 0.2s ease; /* Chrome - Safari */
    -o-transition: 0.2s ease; /* Opera */
}
.btn-primario:hover {
    transform : scale(1.02);
    -moz-transform : scale(1.02); /* Firefox */
    -webkit-transform : scale(1.02); /* Chrome - Safari */
    -o-transform : scale(1.02); /* Opera */
    -ms-transform : scale(1.02); /* IE9 */
    box-shadow: 0px 0px 10px rgba(235, 111, 101, 0.63);
    cursor: pointer;
}
.btn-secundario {
    font-size: 1rem;
    padding: 13px 49px;
    background: white;
    border-radius: 16px;
    border: 1px solid #EB6F65;
    min-height: 45px;
    color: #EB6F65;
    margin-right: .6rem;
    transition: 0.2s ease;
    -moz-transition: 0.2s ease; /* Firefox */
    -webkit-transition: 0.2s ease; /* Chrome - Safari */
    -o-transition: 0.2s ease; /* Opera */
}
.btn-secundario:hover {
    transform : scale(1.02);
    -moz-transform : scale(1.02); /* Firefox */
    -webkit-transform : scale(1.02); /* Chrome - Safari */
    -o-transform : scale(1.02); /* Opera */
    -ms-transform : scale(1.02); /* IE9 */
    box-shadow: 0px 0px 10px rgba(235, 111, 101, 0.63);
    cursor: pointer;
}
