:root {
    --margin-top-dynamic-content: 136px;
}


body {
    height: 100vh;
    margin: 0;
    padding: 0;
    background: rgba(242, 242, 242, 0.47);
    margin: 0; 
    scroll-behavior: smooth !important;
}
/* LIMPIO ESTILO DE LOS INPUTS TYPE NUMBER */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { -webkit-appearance: none; }
input[type=number] { -moz-appearance:textfield; }

* {margin: 0;}
ul { padding: 0; }
#root {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.containerBoby {
    display: flex;
    height: 100%;
    overflow-y: auto;
}
.dynamicContent {
    width: 100%;
    margin-top: var(--margin-top-dynamic-content);
    margin-left: 7px;
    padding-right: 40px;
    overflow-y: scroll;
    padding-left: 14px;
}

h1 {
    font-weight: bold;
    font-size: 1.7rem;
    color: black;
}
.dinone {display: none;}
/* FLEX */
    .fila {display: flex; width: 100%; flex-wrap: wrap;}
    .fila-nowrap {display: flex; width: 100%;}
    .df {display: flex;}
    .fd-c {flex-direction: column;}

/* MARGENES */
    .ml-0 {margin-left: 0px !important;} .mr-0 {margin-right: 0px !important;}
    .ml-1 {margin-left: 1rem !important;} .mr-1 {margin-right: 1rem !important;}
    .ml-2 {margin-left: 2px !important;} .mr-2 {margin-right: 2px !important;}
    .ml-10 {margin-left: 10px !important;} .mr-10 {margin-right: 10px !important;}
    .ml-20 {margin-left: 20px !important;} .mr-20 {margin-right: 20px !important;}
    .ml-24 {margin-left: 24px !important;} .mr-24 {margin-right: 24px !important;}
    .ml-30 {margin-left: 30px !important;} .mr-30 {margin-right: 30px !important;}
    .mb-6 {margin-bottom: 6px !important;}; .mt-6 {margin-top: 6px !important;};
    .mb-13 {margin-bottom: 13px !important;} .mt-13 {margin-top: 13px !important;}
    .mb-12 {margin-bottom: 12px !important;} .mt-12 {margin-top: 12px !important;}
    .mb-17 {margin-bottom: 17px !important;} .mt-17 {margin-top: 17px !important;}
    .mb-18 {margin-bottom: 18px !important;} .mt-18 {margin-top: 18px !important;}
    .mb-23 {margin-bottom: 23px !important;} .mt-23 {margin-top: 23px !important;}
    .mb-26 {margin-bottom: 26px !important;} .mt-26 {margin-top: 26px !important;}
    .mb-28 {margin-bottom: 28px !important;} .mt-28 {margin-top: 28px !important;}
    .mb-46 {margin-bottom: 46px !important;} .mt-46 {margin-top: 46px !important;}
    .mb-48 {margin-bottom: 48px !important;} .mt-48 {margin-top: 48px !important;}

/* LABEL */
    label {margin-bottom: 17px !important;}

/* COLUMNAS */
    .col-1 { width: 10%;}
    .col-2 { display: flex; width: 16%;}
    .col-3 { display: flex; width: 25%;}
    .col-4 { display: flex; width: 33.3%;}
    .col-5 { display: flex; width: 41.6%;}
    .col-6 { display: flex; width: 50%;}
    .col-7 { display: flex; width: 58.3%;}
    .col-8 { display: flex; width: 66.6%;}
    .col-9 { display: flex; width: 75%;}
    .col-10 { display: flex; width: 83.3%;}
    .col-11 { display: flex; width: 91.6%;}
    .col-12 { display: flex; width: 100%;}

/* COLUMNAS PERSONALIZADAS */
    .col-52_61 { width: 52.61%;} 

/* ALIGN - JUSTIFY */
    .ai-c { align-items:center} .ai-fe { align-items: flex-end;} .ai-fs { align-items: flex-start;}
    .jc-c { justify-content: center;} .jc-sa { justify-content:space-around;} .jc-sb { justify-content: space-between;} .jc-e { justify-content: space-evenly;} .jc-fe { justify-content: flex-end;} .jc-fs { justify-content: flex-start;}


/* HOVER (ZOOM) */
    .btn-opciones, .btn-items-seleccionados { transition: 0.2s ease; }
    .btn-opciones:hover, .btn-items-seleccionados:hover { transform: scale(1.02); -moz-transform: scale(1.02); -webkit-transform: scale(1.02); -o-transform: scale(1.02); -ms-transform: scale(1.02); }

/* FONTS */
    * {font-family: 'Jura', sans-serif !important; font-size: 1rem; letter-spacing: 0.03em; color: #646464;}
    .btn-opciones, .btn-items-seleccionados {font-weight: bold;}

/* INPUTS - LABELS */
    .cinput { border: 1px solid #C4C4C4; box-sizing: border-box; border-radius: 16px; height: 45px; padding-left: 22px; width: 100%; margin: 0; }
    .cinput:hover, .cinput:focus, .ihorarios:focus,  .ihorarios:hover { border: 1px solid #000000; outline: none !important;}
    .cinput.error { border: 1px solid #EB6F65;}
    .cinput.icon-buscar { background-image: url("./asset/icon-buscar.svg"); background-repeat: no-repeat; background-position-x: 22px; background-position-y: 50%; padding-left: 56px !important; }
    .contenedor-input label {margin-bottom: 50px !important;}
    .ihorarios {
        background: #FFFFFF;
        border: 1px solid #C4C4C4;
        box-sizing: border-box;
        border-radius: 16px;
        width: 52px;
        height: 45px;
        margin: 0 13px;
        padding: 16px;
    }
    .separa-hora-minuto {
        display: flex;
        align-items: center;
        font-weight: bold;
        line-height: 19px;
        color: black;
    }
/* FIN INPUTS */

/* BOTONES */
    .btn-disabled { box-shadow: none !important; cursor: default !important; }

    .btn-primario { background: #EB6F65; color: white; border: none; }
    .btn-primario:hover { box-shadow: 0px 0px 10px rgba(235, 111, 101, 0.63); }
    .btn-primario.btn-disabled { background: rgba(235, 111, 101, 0.24) !important; color: #EB6F65 !important;}
    
    .btn-secundario { background: white; color: #EB6F65; border: 1px solid #EB6F65;}
    .btn-secundario:hover { box-shadow: 0px 0px 10px rgba(235, 111, 101, 0.63); }
    .btn-secundario.btn-disabled { color: rgba(235, 111, 101, 0.78); border: 1px solid rgba(235, 111, 101, 0.3); }

    .btn-opciones { cursor: pointer; height: 36px; border: 1px solid #EB6F65; color: #EB6F65; padding: 7px 21px 10px 14px; background: #FFFFFF; box-sizing: border-box; border-radius: 10px; }
    .btn-opciones.seleccionado {background: #EB6F65; color: #FFFFFF;}

    .btn-items-seleccionados { height: 36px; padding: 7px 21px 10px 14px; color: #EB6F65; background: rgba(196, 196, 196, 0.4); border: none; border-radius: 10px; }
    .btn-items-seleccionados img {margin-right: 7px; cursor: pointer;}
    .contenedor-items-seleccionados button {margin-right: 23px;}

    .btn-primario, .btn-secundario  { min-width: 210px; border-radius: 16px; min-height: 45px; cursor: pointer;}

    .btn-dia-horarios { background: #FFFFFF; border: 1px solid #C4C4C4; box-sizing: border-box; border-radius: 16px; width: 50px; height: 45px; color: #000000; line-height: 19px; }
    .btn-dia-horarios.seleccionado {background: #EB6F65; color: #FFFFFF; border: none;}

    .btn-detalle-pedido {
        background: rgba(196, 196, 196, 0.4);
        border-radius: 10px;
        border: none;
        height: 30px;
        padding: 5px 22px;
    }
/* FIN BOTONES */

/* LISTAS */
.item-lista { min-height: 46px; background: #FFFFFF; box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25); border-radius: 20px; padding: 27px 23px 20px 28px; margin-bottom: 22px; display: flex;}
.item-lista:hover {border: 1px solid #30627D; box-shadow: 0px 0px 15px rgba(48, 98, 125, 0.53); transition: 0.2s ease; -moz-transition: 0.2s ease; -webkit-transition: 0.2s ease; -o-transition: 0.2s ease; /* Opera */}


/* HEADERS */
.header-seccion-sin-back { z-index: 0; position: absolute; width: 100%; height: 109px; left: 0px; top: 0px; }
