.cont-general-iniciar {
    display: flex;
    height: 100%;
}
.cont-form {
    z-index: 999;
    width: 50%;
    height: 100%;
    background: #FFFFFF;
    box-shadow: 3px 0px 3px rgba(196, 196, 196, 0.25);
    border-radius: 0px 50px 50px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cont-titulo-ingresar {
    width: 62%;
}
.cont-titulo-ingresar h1 {
    margin-left: 22px;
}
.cont-form form {
    width: 62%;
}
.cont-input {
    display: flex;
    flex-direction: column;
}
.cont-input input {
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 16px;
    height: 40px;
    width: 100%;
    padding-left: 22px;
    font-family: 'Jura';
    font-weight: 400;
    font-size: 1.1rem;
    color: #646464;
}
.cont-input input:focus, .cont-input input:hover {
    border: 1px solid #000000;
    outline: none !important;
}
.cont-input label {
    margin-left: 22px;
    margin-bottom: 10px;
    margin-top: 26px;
    font-size: 1rem;
    font-weight: 400;

}
.cont-input span {
    margin-top: 12px;
    margin-left: 22px;
}
.cont-input-accion {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 56px;
}
.cont-input-accion p {
    margin-bottom: 11px;
    margin-top: 28px;
}
.cont-icon-login img {
    width: 1.5rem;
    height: 1.5rem;
    margin: 0 .4rem;
}