/* .nav {
    border: 1px solid black;
}
.nav ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
}
.nav a {
    margin: 0 1rem;
    text-decoration: none;
    color: inherit;
} */
.nav {
    position: absolute;
    width: 1317px;
    height: 136px;
    left: 123px;
    top: 0px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(100, 100, 100, 0.13);
}
