.nav {
    border: 1px solid black;
}
.nav ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
}
.nav a {
    margin: 0 1rem;
    text-decoration: none;
    color: inherit;
}
